ul,dl,dd,h2,p,form {
	padding:0;
	margin:0;
}
ul li {
	list-style-type:none;
}

#nav {
	width:465px;
	height:52px;
	background:url(images/nav_bg.png) no-repeat;
	margin:0 auto;
	position:relative;
}
#nav ul {
	position:absolute;
}
#nav ul li {
	width:85px;
	height:52px;
	line-height:52px;
	text-align:center;
	font-weight:bold;
	float:left;
}
#nav ul.black {
	left:20px;
	color:#333;
	z-index:1;
}
#nav ul.white {
	width:425px;
	color:#fff;
	z-index:3;
	left:0;
}
#nav ul.about {
	z-index:4;
	left:20px;
	cursor:pointer;
	background:red;
	filter:alpha(opacity=0);
	opacity:0;
}
#nav div.nav_bg {
	width:85px;
	height:52px;
	background:url(images/nav_over.png) no-repeat 0 11px;
	position:absolute;
	left:20px;
	top:0px;
	z-index:2;
	overflow:hidden;
}